* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url(./imgs/background\ 1.png);
    background-size: 100vw;
    background-position: 100%;
    background-repeat: no-repeat;
}

.nav-menu {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 62px;
}

.menu-icons {
    display: flex;
    gap: 28px;
}

.menu-icons img {
    height: 25px;
    transition: all 0.2s;
}

.menu-icons img:hover {
        transform: translateY(-2px);
}

#procurar {
    width: 520px;
    height: 45px;
    border-radius: 18px;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 16px;
    font-weight: 400;
}

.nav-bar {
    background-color: #969696;
    height: 80px;
    padding: 0 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar a {
    display: flex;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.2s;
    cursor: pointer;
}

.nav-bar a:hover {
    transform: translateY(-2px);
}

.banner a img{
    width: 100%;
    height: auto;
    transition: all 0.3s;
}

.banner a img:hover {
    transform: scale(101%);
}

main h2 {
    color: #272727;
    font-weight: bold;
    text-align: center;
    margin: 28px;
    font-size: 30px;
}

.mousepads-gamers {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px 40px;
}


.mousepads-gamers a {
    text-decoration: none;
    color: #000;
    text-align: center;
}

.mousepads-gamers img {
    width: 288px;
}

.mousepads-gamers p {
    font-size: 24px;
    color: #272727;
    max-width: 288px;
}

.mousepads-gamers p {
    font-size: 24px;
}

.mousepads-gamers h3 {
    font-size: 40px;
    font-weight: 900;
    color: #2b2b2b;
    margin-top: 10px;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5)
}

.mousepad1 {
    background-color: rgba(0,0,0, 0.2);
    padding: 12px;
    border: solid #fff 1.5px;
    border-radius: 28px;
    transition: all 0.2s;
}

.mousepad1:hover {
    transform: scale(105%);
}

.mousepad2 {
    background-color: rgba(0,0,0, 0.2);
    padding: 12px;
    border: solid #fff 1.5px;
    border-radius: 28px;
    transition: all 0.2s;
}

.mousepad2:hover {
    transform: scale(105%);
}

.mousepad3 {
    background-color: rgba(0,0,0, 0.2);
    padding: 12px;
    border: solid #fff 1.5px;
    border-radius: 28px;
    transition: all 0.2s;
}

.mousepad3:hover {
    transform: scale(105%);
}
#juros {
    font-size: 20px;
    color: #fff;
}

.redes-sociais {
    background-color: #969696;
    padding: 15px;
}

.msg-redes {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.icons-redes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 40px;
    transition: all 0.3s;
}

.icons-redes a:hover {
    transform: translateY(-3px);
}

.rodape {
    background-color: #000;
    padding: 18px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}